@import "../../Variables/Variables.scss";

header {
  height: 60px;
  display: flex;
  flex-direction: row;
  padding: 5%;
  align-items: center;
  margin-bottom: 10px;
  .logo-container {
    p {
      color: $text;
      font-size: 11px;
    }
  }
  .add-btn {
    background-color: $theme;
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: auto;
    border-radius: 50%;
    &:hover {
        cursor: pointer;
    }
    h1 {
      font-size: 32px;
      position: absolute;
      color: white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -57%);
    }
  }
}

@media all and (min-width: 450px) {
  header .add-btn {
    width: 150px;
    height: 40px;
    border-radius: 8px;
    h1 {
      font-size: 25px;
    }
  }
}

@media all and (min-width: 900px) {
  header {
    padding: 0;
    margin: 20px auto 40px auto;
    width: 820px;
  }
}
